html, body {
    font-family: 'Roboto';
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    max-width: 1200px;
}


.channels-review__table {
    border-collapse: collapse;
    border: 1px solid #000;
    margin-bottom: 2px;
}

.channels-review__table>tbody>tr>td {
    border: 1px solid #000;
}

.channels-review__table>thead>tr>th {
    float: left;
    padding: 10px;
}
 

.channels-review__information {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 250px;
}

.channels-review__information>a {
    position: absolute;
    top: 219px;
    margin: 5px;
    margin-top: -5px;
    font-size: 12px;
}

.channels-review__information>a>i {
    font-size: 8px;
}

td>p {
    width: 600px;
    margin: 5px;
}

.channels-review__image.first {
    position: relative;
    width: 200px;
    height: 200px;
    bottom: 40px;
    margin: 5px;
    background: url('../../img/my-way-logo-ru.jpg') center/cover no-repeat;
}

.channels-review__image.second {
    position: relative;
    width: 200px;
    height: 200px;
    bottom: 40px;
    margin: 5px;
    background: url('../../img/my-way-logo-en.jpg') center/cover no-repeat;
}

.gallery-posts {
    width: 1200px;
}

.post-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 850px;
}

.post-card {
    border: 0.5px solid #000;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 250px;
    height: 250px;
}

.post-card:hover {
    transition: 0.5s all;
    width: 270px;
    height: 270px;
    z-index: 100;
    box-shadow: 0px 0px 10px #000;
}

.hidden {
    position: absolute;
    opacity: 0;
    top: 10px;
}

.showed {
    position: absolute;
    opacity: 1;
    top: 10px;
    transition: 0.5s all;
}

.x-icon {
    position: relative;
    right: 18px;
    float: right;
    width: 30px;
    height: 14px;
    background: url('../../img/x-icon.svg') no-repeat;
    cursor: pointer;
}

.gallery-posts__table {
    position: absolute;
    top: 530px;
    left: 182px;
}

.gallery-posts__table>tbody>tr>td:first-child {
    width: 266px;
}